@font-face{
    font-family: 'Gotham';
    src: url(Fontes/GothamBook.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #121212;
}

.container{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1%;
    background-color: #282828;
}

img#perfil{
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    height: 160px;
}

h1#nome{
    font-family: 'Gotham';
    font-size: 10vh;
    padding-left: 10px;
    color: white;
}

.titulo{
    margin-left: 1%;
    font-family: 'Gotham';
    color: white;
    padding-top: 1%;
    font-size: 20px;
}

#albuns{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1%;
    justify-content: space-around;
    
}

.album{
    background-color: #181818;
    width: 200px;
    height: 0;
    padding-bottom: 258px;
    border-radius: 20px;
    transition: 0.4s;
    margin-bottom: 10px;
}

.album:hover{
    background-color: #282828;
    transform: translateY(-3px);
}

.albuml2{
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Gotham';
    padding-top: 10%;
    font-size: 10px;
}

.albuml2 img{
    height: 170px;
    border-radius: 20px;
}

.albuml2 h1{
    padding-top: 8px;
    max-height: 170px;
}

a{
    text-decoration: none;
}

.albuml2 h3{
    padding-top: 8px;
    color: #939393;
}

p{
    color: white;
    font-family: 'Gotham';
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    text-align: justify;
    padding-bottom: 1%;
    line-height: 1.4;
}

ul{
    color: white;
    font-family: 'Gotham';
    padding-left: 2.5%;
    padding-top: 1%;
    padding-right: 1%;
    text-align: justify;
    padding-bottom: 1%;
    line-height: 1.4;
}

.premios{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 5px;
}

.premio{
    text-align: center;
    margin: 10px;
}

.grammy{
    background-color: #181818;
    width: 200px;
    height: 0;
    padding-bottom: 280px;
    border-radius: 20px;
    transition: 0.4s;
    padding-top: 10%;
    white-space: normal;
    line-height: 1.4;
}

.grammy:hover{
    background-color: #282828;
    transform: translateY(-3px);
}

.grammy h1{
    padding-top: 8px;
    max-height: 170px;
    color: white;
    font-family: 'Gotham';
    font-size: 20px;
}

.grammy h3{
    padding-top: 8px;
    color: #939393;
    font-family: 'Gotham';
    font-size: medium;
}

.grammy img{
    height: 170px;
    border-radius: 20px;
}

.shows{
    align-items: center;
    margin: 1% 1% 1% 2%;
    
}

.show tr{
    justify-content: space-between;
    display: flex;
}

.data{
    background-color: #2a2a2a;
    color: white;
    font-family: 'Gotham';
    height: 80px;
    width: 75px;
    text-align: center;
    border-radius: 5px;
    line-height: 1.3;
}

.data h2{
    font-size: 15px;
}

.data h1{
    font-size: 30px;
}

.info{
    padding: 0 10px 0 10px;
    color: white;
    font-family: 'Gotham';
    font-size: 14px;
    width: 400px;
}

#shows{
    color: white;
    text-decoration: underline;
}